.formCard {
    margin-bottom: 30px;
}

.artTable {
    .title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--element2);
        padding-bottom: 20px;
    }
}