.btn {
    background-color: var(--primary);
}

.content > p {
    -webkit-line-clamp: 2; //设置几行
    display: -webkit-box;  //设置为伸缩盒弹性盒子展示
    overflow: hidden; //超出隐藏
    text-overflow: ellipsis; //设置超出部分以省略号展示
    -webkit-box-orient: vertical; //伸缩盒弹性盒子的排列方式
}
